@keyframes dropAnimation {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
        
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .letters-container {
    position: relative;
    
  }
  
  .letter {
    position: absolute;
    top: 8%;
    left: 35%;
    color: rgb(221, 232, 215);
    animation: dropAnimation 5s  ease-in-out ;
  }
  
 
  